#centerHeader {
  margin-left: auto;
  margin-right: auto;
}

#centerPic {
  max-width: 20vh;
  max-height: 20vh;
}

html {
  min-height: 100vh;
}

h1 {
  font-size: 3em;
}

.navIco {
  display: inline;
  max-height: 1.5em;
  margin-top: 0.25em;
  margin-right: 0.25em;
}

.parallax {

}

.parallax-container {
  height: 10em;
}
