@import '../../styles/core';
@import '../../styles/routes';

#container {
  overflow: scroll;
}

.navIcon {
  padding: 1rem;
  &:hover {
    animation-name: fastPulse;
    animation-duration: 1.75s;
    animation-iteration-count: infinite;
  }
}

#nav {
  width: 100%;
  #nav__contents {
    padding: 2vh 0;
    color: $primary-color;
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

#contents {
  font-size: 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  width: 144px;
  height: 136px;
  margin: 1em;
  margin-bottom: 2vh;

}

.project > .imgContainer > img {
  width: 5.5em;
  margin-left: 0.75em;
  margin-top: 0.75em;
  height: 5.5em;
}


.project > .imgContainer {
  display: block;
  margin-left: 44px;
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 7em;
  height: 7em;
  background-color: $page-color;
  transition: background-color 0.3s;
  border-radius: 50%;
  border-color: #44475a;
  border-width: 0.2em;
  border-style: solid;
}

.project > .imgContainer:hover {
  background-color: $primary-color;
}


.project > h2 {
  font-family: Roboto;
  font-weight: 100;
  font-size: 2.9em;
  color: $primary-color;
  text-align: center;
  margin: 0;
}

.project > p {
  font-family: Roboto;
  font-size: 1.5em;
  color: $accent-color;
  text-align: center;
  margin: 0;
  margin-bottom: 1em;
}
