@import '../../styles/core';
@import '../../styles/routes';

.grid {
  height: 100%;
  display: grid;
  flex-direction: column;
  justify-content: space-around;
  .resume__left, .resume__right {
    color: $primary-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
  }
  .resume__left {
    z-index: 2;
    ul {
      text-align: center;
      margin: 0;
      padding: 0;
      list-style: none;
      a {
        color: inherit;
        padding: 5px 0;
        cursor: pointer;
        font-size: 5vh;
        font-weight: 100;
        left: 0;
        transition: padding 0.2s ease-in;
      }
      a:hover {
        cursor: pointer;
        padding: 0 0 0 6vmin;
      }
      a.active {
        font-weight: 300;
      }
      a.back {
        margin-top: 32px;
      }
      a.back:hover {
        padding: 0 3vmin 0 0;
      }
    }
  }
  .resume__right {
    overflow-y: scroll;
    #Education__content, #Employment__content, #Interests__content, #Service__content {
      display: none;
      padding-bottom: 16px;
      .item {
        padding: 0.5rem;
        .textbox {
          text-align: left;
          display: inline-block;
        }
        h3 {
          font-size: 2rem;
        }
        h4, p {
          margin: 0;
        }
        h4 {
          font-size: 1.5rem;
          font-weight: 100;
          margin: 4px 0;
        }
        p {
          font-size: 16px;
        }
      }
      .item.active {
        border: 1pt solid $primary-color;
      }
    }
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  .grid {
    grid-template-rows: 35% 65%;
    grid-template-columns: 100%;
    & > #left.resume__left {
      transform: translateY(30vh);
    }
    .resume__right {
      justify-content: space-between;
      padding: 1rem;
      // justify-content: normal;
      #Interests__content {
        .item {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (min-aspect-ratio: 1/1) {
  .grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    & > #left.resume__left {
      transform: translateX(50%);
    }

    .resume__right {
      justify-content: space-around;
    }
  }
}