/*
$primary-color: #2F2F2F;
$page-color: #D8D8D8;
$secondary-color: #015F56;
$background-color: #4A4A4A;
$accent-color: #9B9B9B;
*/
@keyframes pulse {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
@keyframes fastPulse {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1.05); }
  40% {
    transform: scale(1.1); }
  50% {
    transform: scale(1.05); }
  60% {
    transform: scale(1.08); }
  70% {
    transform: scale(1.14); }
  80% {
    transform: scale(1.08); }
  100% {
    transform: scale(1); } }
@keyframes waver {
  0% {
    padding: 0 0 0 0vmin; }
  50% {
    padding: 0 0 0 6vmin; }
  100% {
    padding: 0 0 0 0vmin; } }
@keyframes waverLeft {
  0% {
    padding: 0 0 0 0vmin; }
  50% {
    padding: 0 6vmin 0 0; }
  100% {
    padding: 0 0 0 0vmin; } }
.grid {
  height: 100%;
  display: grid;
  flex-direction: column;
  justify-content: space-around; }
  .grid .resume__left, .grid .resume__right {
    color: #f8f8f2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around; }
  .grid .resume__left {
    z-index: 2; }
    .grid .resume__left ul {
      text-align: center;
      margin: 0;
      padding: 0;
      list-style: none; }
      .grid .resume__left ul a {
        color: inherit;
        padding: 5px 0;
        cursor: pointer;
        font-size: 5vh;
        font-weight: 100;
        left: 0;
        transition: padding 0.2s ease-in; }
      .grid .resume__left ul a:hover {
        cursor: pointer;
        padding: 0 0 0 6vmin; }
      .grid .resume__left ul a.active {
        font-weight: 300; }
      .grid .resume__left ul a.back {
        margin-top: 32px; }
      .grid .resume__left ul a.back:hover {
        padding: 0 3vmin 0 0; }
  .grid .resume__right {
    overflow-y: scroll; }
    .grid .resume__right #Education__content, .grid .resume__right #Employment__content, .grid .resume__right #Interests__content, .grid .resume__right #Service__content {
      display: none;
      padding-bottom: 16px; }
      .grid .resume__right #Education__content .item, .grid .resume__right #Employment__content .item, .grid .resume__right #Interests__content .item, .grid .resume__right #Service__content .item {
        padding: 0.5rem; }
        .grid .resume__right #Education__content .item .textbox, .grid .resume__right #Employment__content .item .textbox, .grid .resume__right #Interests__content .item .textbox, .grid .resume__right #Service__content .item .textbox {
          text-align: left;
          display: inline-block; }
        .grid .resume__right #Education__content .item h3, .grid .resume__right #Employment__content .item h3, .grid .resume__right #Interests__content .item h3, .grid .resume__right #Service__content .item h3 {
          font-size: 2rem; }
        .grid .resume__right #Education__content .item img, .grid .resume__right #Employment__content .item img, .grid .resume__right #Interests__content .item img, .grid .resume__right #Service__content .item img {
          display: none; }
        .grid .resume__right #Education__content .item h4, .grid .resume__right #Education__content .item p, .grid .resume__right #Employment__content .item h4, .grid .resume__right #Employment__content .item p, .grid .resume__right #Interests__content .item h4, .grid .resume__right #Interests__content .item p, .grid .resume__right #Service__content .item h4, .grid .resume__right #Service__content .item p {
          margin: 0; }
        .grid .resume__right #Education__content .item h4, .grid .resume__right #Employment__content .item h4, .grid .resume__right #Interests__content .item h4, .grid .resume__right #Service__content .item h4 {
          font-size: 1.5rem;
          margin: 4px 0; }
        .grid .resume__right #Education__content .item p, .grid .resume__right #Employment__content .item p, .grid .resume__right #Interests__content .item p, .grid .resume__right #Service__content .item p {
          font-weight: 100;
          font-size: 16px; }
      .grid .resume__right #Education__content .item.active, .grid .resume__right #Employment__content .item.active, .grid .resume__right #Interests__content .item.active, .grid .resume__right #Service__content .item.active {
        border: 1pt solid #f8f8f2; }

#download {
  z-index: 2;
  position: absolute;
  bottom: 16px;
  right: 16px;
  font-size: 2rem; }

@media screen and (max-aspect-ratio: 1 / 1) {
  .grid {
    grid-template-rows: 35% 65%;
    grid-template-columns: 100%; }
    .grid > #left.resume__left {
      transform: translateY(30vh); }
    .grid .resume__right {
      justify-content: space-between;
      padding: 1rem; }
      .grid .resume__right #Interests__content .item p {
        font-size: 12px; } }
@media screen and (min-aspect-ratio: 1 / 1) {
  .grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%; }
    .grid > #left.resume__left {
      transform: translateX(50%); }
    .grid .resume__right {
      justify-content: space-around; } }

/*# sourceMappingURL=resume.css.map */
