<!DOCTYPE html>
<html ng-app="flow3App">

<head>
	<meta charset="UTF-8">
	<title>Flow3</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<link rel="stylesheet" href="style.css" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<nav>
		<div class="nav-wrapper blue-grey darken-1">
			<a href="#" class="brand-logo"><img id="navImg" src="ico.png"></a>
		</div>
	</nav>
	<main class="row">
    <div class="flowL col card left" ng-controller="ngFlow3" ng-cloak>
      <contention ng-repeat="x in flow track by $index" title="x.title" args="x.args"></contention>
      <div ng-click="newContention()" class="waves-effect waves-teal btn-flat">New Contention</div>
    </div>
		<div class="flowR col card right" ng-controller="ngFlow3" ng-cloak>
			<contention ng-repeat="x in flow track by $index" title="x.title" args="x.args"></contention>
			<div ng-click="newContention()" class="waves-effect waves-teal btn-flat">New Contention</div>
		</div>

	</main>
	<footer class="page-footer blue-grey darken-2">
    {{flow}}
		<div class="footer-copyright blue-grey darken-1">
			<div class="container">
				© 2016 Adam Towers
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript"></script>
	<script src="index.js" type="text/javascript"></script>
</body>

</html>
