@import '../bower_components/mui/src/sass/mui/_colors.scss';

// customize MUI variables
$mui-primary-color:       #9E9E9E;
$mui-primary-color-dark:  #616161;
$mui-primary-color-light: #F5F5F5;
$mui-accent-color:        #607D8B;
$mui-body-bg-color:       #616161;

// import MUI SASS
@import '../bower_components/mui/src/sass/mui';

#header {
	font-family: 'Poiret One', cursive;    
	width: 80%;
    margin: 1em auto 1em auto;
    font-size: 4em;
    vertical-align: middle;
}

html, body {
    align-content: center;
    height: 100%;
	background: url(../img/stardust.png) repeat 0 0;
}

#container {
	font-family: 'Nobile', Helvetica, Arial, sans-serif;    min-width: 80%;
    max-width: 80%;
    min-height: 75%;
    margin-top: 6%;
    margin: 2em auto 0 auto;
}