<div class="">
  <div class="row">
    <div id="posts" class="col s5 m5" ng-cloak>
      <div ng-repeat="post in posts track by $index" class="card small">
      	<div ng-if="post.img" class="card-image waves-effect waves-block waves-light">
      		<a href="#post/{{post.id}}"><img src="{{post.img}}"></a>
      	</div>
      	<div class="card-content">
      		<div ng-href="#post/{{post.id}}" class="card-title grey-text text-darken-4">{{post.title}}
            <span ng-if="post.date" class="right date">{{post.date}}</span>
          </div>
          <span ng-if="!post.thumb" id="content">{{post.content}}</span>
          <span ng-if="post.thumb" id="thumbnail">{{post.thumb}}</span>
      	</div>
      </div>
    </div>

    <div id="median" class="col s3 m3"></div>
    <div id="tags" class="col s3 m4"></div>
  </div>
</div>
