<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
	<title>Adam Towers</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="css/error.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body>
	<nav class="white" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="index.html" class="brand-logo">
				<img class="valign navIco responsive-img" src="graphics/adamtowers.png">adamtowers.info</a>
		</div>
	</nav>
	<div class="container">
		<div class="fixed-action-btn vertical click-to-toggle" style="bottom: 24px; right: 24px;">
			<a class="btn-floating btn-large blue-grey">
				<i class="material-icons">menu</i>
			</a>
			<ul>
				<li><a href="mailto:adam.towers@icloud.com" class="btn-floating red"><i class="material-icons">email</i></a></li>
				<li><a class="btn-floating yellow darken-1"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
				<li><a href="https://github.com/Zarkoix" class="btn-floating green"><i class="fa fa-github" aria-hidden="true"></i></a></li>
				<li><a href="https://www.facebook.com/AdamTowers77" class="btn-floating blue"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			</ul>
		</div>
    <div class="row">
      <div class="error col s12 m6 offset-m3">
        <div class="icon-block">
          <h2 class="center blue-grey-text text-darken-1"><i class="material-icons">error</i></h2>
          <h5 class="center">Error</h5>
          <p class="light center-align">You're either trying to go somewhere that does not exist, or trying to go somewhere you're not allowed to go to!</p>
          <div class="row center">
            <a class="center waves-effect waves-light btn" href="#index"><i class="center material-icons left">home</i>Back to Safety!</a>
          </div>
        </div>
      </div>
    </div>

	</div>



	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/materialize.js"></script>
	<script src="js/init.js"></script>

</body>

</html>
