<div id="index-banner" class="parallax-container">
	<div class="section no-pad-bot">
		<div class="container">
			<br>
			<br>
			<div class="row center">
				<img id="centerPic" class="header center responsive-img circle" src="graphics/selfie2.jpg">
			</div>
			<h1 class="header center white-text text-lighten-2 valign">Adam Towers</h1>
		</div>
	</div>
	<div class="parallax">
		<img id="parllel" src="../background1.jpg" alt="Unsplashed background img 1">
	</div>
</div>


<div class="container">
	<div class="section">

		<!--   Icon Section   -->
		<div class="row">

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center blue-grey-text text-darken-1"><i class="material-icons">assignment_ind</i></h2>
					<h5 class="center">Education and Experience</h5>
					<p class="light">Checkout a brief overview of my education, work experience, and web design projects.</p>
					<div class="row center">
						<a href="#resume" class="center waves-effect waves-light btn"><i class="center material-icons left">description</i>Check Out My Resume!</a>
					</div>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center blue-grey-text text-darken-1"><i class="material-icons">class</i></h2>
					<h5 class="center">My Ramblings</h5>

					<p class="light">Some social commentary, a few bits of political cyncism, and a plethora of technology tidbits.</p>
					<div class="row center">
						<a href="http://blog.atowers.info" class="center waves-effect waves-light btn"><i class="center material-icons left">stars</i>Visit the Blog!</a>
					</div>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center blue-grey-text text-darken-1"><i class="material-icons">dashboard</i></h2>
					<h5 class="center">Projects [WIP]</h5>

					<p class="light">Coming soon!</p>
					<div class="row center">
						<a class="center waves-effect waves-light btn disabled"><i class="center material-icons left">view_array</i>See Those Projects!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="js/init.js"></script>
