<link href="css/projects.css" type="text/css" rel="stylesheet" media="screen,projection" />

<div class="container">
    <div class="row" id="grid">
        <div class="col s6  m4">
            <div class="card blue-grey hoverable darken-1">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator crdImg" src="graphics/fastflow.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator flow-text white-text">FastFlow App<i class="material-icons right">more_vert</i></span>
                    <p>Debate: Modernized</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title flow-text grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p><a href="https://fastflowdebate.com">FastFlow</a> is an application designed to help debaters leverage their research in round.</p>
                </div>
            </div>
        </div>
        <div class="col s6  m4">
            <div class="card blue-grey hoverable darken-1">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator crdImg" src="graphics/flowfastflow.svg">
                </div>
                <div class="card-content">
                    <span class="card-title activator flow-text white-text">Flow.FastFlow<i class="material-icons right">more_vert</i></span>
                    <p>Paperless Flowing</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title flow-text grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p><a href="https://flow.fastflowdebate.com">Flow.FastFlow</a> is a webapp for flowing debate rounds online. It leverages emergent web technology for offline use and saving persistent data in the browser.</p>
                </div>
            </div>
        </div>

        <div class="col s6  m4">
            <div class="card hoverable blue-grey darken-1">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator crdImg" src="graphics/adamtowers.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator white-text">atowers.info<i class="material-icons right">more_vert</i></span>
                    <p>Personal Web Page</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">atowers.info<i class="material-icons right">close</i></span>
                    <p>This website is a personal project that I plan to use to both host a resume and act as a host for future web-development experiments.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="">
        <div class="col s6  m4">
            <div class="card hoverable blue-grey darken-1">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator crdImg" src="graphics/freewrite.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator white-text">Free Write<i class="material-icons right">more_vert</i></span>
                    <p><a href="/freewrite">Free Write</a> - Minimalisic Text Editing</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><a href="/freewrite">Free Write</a><i class="material-icons right">close</i></span>
                    <p>Free Write is a low feature exploration into minimalistic text editing, the content you create is not persistent. </p>
                </div>
            </div>
        </div>
        <div class="col s6 m4">
            <div class="card blue-grey hoverable darken-1">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="https://github.com/Zarkoix"><img class="activator crdImg" src="graphics/github.png"></a>
                </div>
                <div class="card-content">
                    <a href="https://github.com/Zarkoix"><span class="card-title flow-text white-text">Github</span>
        <p>Go follow @Zarkoix</p></a>
                </div>
            </div>
        </div>

        <div class="col s6 m4">
            <div class="card hoverable blue-grey darken-1">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator crdImg" src="graphics/programming.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator white-text">Coming Soon<i class="material-icons right">more_vert</i></span>
                    <p>Coming Soon</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Coming Soon<i class="material-icons right">close</i></span>
                    <p>More projects coming here soon!</p>
                </div>
            </div>
        </div>
    </div>
</div>
