<div class="container">
	<!-- Edu-->
	<div class="row valign-wrapper">
		<div class="col l1 s0"></div>
		<div class="col l8 m8 s12">
			<div id="education" class="section scrollspy">
				<div class="card blue-grey darken-1">
					<div class="card-content white-text">
						<span class="card-title">Education</span>
						<div class="row valign-wrapper">
							<div class="col s6 m4">
								<a href="http://www.sjusd.org/leland/">
									<img class="eduIco valign responsive-img" src="graphics/leland.png">
								</a>
							</div>
							<div class="col s6 m8">
								<p>Leland High School
									<br>San Jose, California
									<br>2013 - 2017 (expected)</p>
							</div>
						</div>
						<div class="row valign-wrapper">
							<div class="col s6 m4">
								<a href="http://www.indusschool.com/">
									<img class="eduIco valign responsive-img circle" src="graphics/indus.png">
								</a>
							</div>
							<div class="col s6 m8">
								<p>Indus International School
									<br>Bangalore, India
									<br>2010 - 2013</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="jobExperience" class="section scrollspy">
				<div class="card blue-grey darken-1">
					<div class="card-content white-text">
						<span class="card-title">Work Experience</span>
						<div class="row valign-wrapper">
							<div class="col s6 m4">
								<a href="http://www.galileo-camps.com/">
									<img class="progIco valign responsive-img" src="graphics/galileo.png">
								</a>
							</div>
							<div class="col s6 m8">
								<b>Galileo Summer Camps</b>
								<br>
								<p>I have experience working for Galileo Summer camps at the Tech Museum in San Jose to teach campers programming skills.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="extraCurric" class="section scrollspy">
				<div class="card blue-grey darken-1">
					<div class="card-content white-text">
						<span class="card-title">Extracurriculurs</span>
						<div class="row valign-wrapper">
							<div class="col s6 m4">
								<a href="http://lelandsd.com/">
									<img class="progIco valign responsive-img circle" src="graphics/lsd.jpg">
								</a>
							</div>
							<div class="col s6 m8">
								<b>Leland Speech and Debate</b>
								<br>
								<p>I am an active member of the Leland Speech and Debate team, serving as Chair of Extemperaneous Speaking, and later as Vice President of Spontaneous Speaking.</p>
							</div>
						</div>
						<div class="row valign-wrapper">
							<div class="col s6 m4">
								<a href="#/projects">
									<img class="progIco valign responsive-img circle" src="graphics/programming.png">
								</a>
							</div>
							<div class="col s6 m8">
								<b>Programming</b>
								<br>
								<p>For the past five years I have been learning to program, starting with Minecraft Mods, and now more recently web development projects. Check out the <a href="#/projects">projects</a> page for more details.</p>
							</div>
						</div>
						<div class="row valign-wrapper">
							<div class="col s6 m4">
								<a href="http://www.troop290.org/boyscouts/pages/home.php">
									<img class="progIco valign responsive-img" src="graphics/290.png">
								</a>
							</div>
							<div class="col s6 m8">
								<b>Boy Scouts Troop 290</b>
								<br>
								<p>I am an active Boy Scout, having worked as a Patrol Leader and currently as an Assistant Senior Patrol Leader in my troop.</p>
							</div>
						</div>
						<div class="row valign-wrapper">
							<div class="col s6 m4">
								<a href="">
									<img class="progIco valign responsive-img" src="graphics/UN.png">
								</a>
							</div>
							<div class="col s6 m8">
								<b>Mock United Nations</b>
								<br>
								<p>I have competed in MUN competitions in both Delhi, and Mumbai. I am currently a member of the Leland MUN club.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="comService" class="section scrollspy">
				<div class="card blue-grey darken-1">
					<div class="card-content white-text">
						<span class="card-title">Community Service</span>
						<div class="row valign-wrapper">
							<div class="col s6 m4">
								<a href="http://graystonehsc.com/">
									<img class="progIco valign responsive-img circle" src="graphics/ghsc.png">
								</a>
							</div>
							<div class="col s6 m8">
								<b>Graystone HSC Website</b><i> 1hr/wk, 50wks</i>
								<br>
								<p>I helped to update and add new features to the Graystone Home and School Club website in order to give parents information about school events.</p>
							</div>
						</div>
						<div class="row valign-wrapper">
							<div class="col s6 m4">
								<a href="http://www.payitforwardtutoringsj.org/">
									<img class="circle progIco valign responsive-img" src="graphics/payitforward.jpg">
								</a>
							</div>
							<div class="col s6 m8">
								<b>Pay it Forward Tutoring San Jose</b><i> 2hr/wk, 20wks</i>
								<br>
								<p>I worked for a tutoring organization established by friends of mine to tutor children in the community in order to raise money for charity.</p>
							</div>
						</div>
						<div class="row valign-wrapper">
							<div class="col s6 m4">
								<a href="http://whitefieldrising.org/government-schools/">
									<img class="circle progIco valign responsive-img" src="graphics/govschool.jpg">
								</a>
							</div>
							<div class="col s6 m8">
								<b>Teacher’s Aide, Bangalore</b><i> 2 hr/wk, 40wks</i>
								<br>
								<p>Taught reading to students from the Government School in Whitefield Bangalore.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col hide-on-small-only m4 l3">
			<div class="toc-wrapper" style="top: 0">
				<div style="height: 1px;">
					<ul class="section table-of-contents">
						<li><a href="#education">Education</a></li>
						<li><a href="#jobExperience">Work Experience</a></li>
						<li><a href="#extraCurric">Extracurriculars</a></li>
						<li><a href="#comService">Community Service</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="js/init.js"></script>
