@import 'core';

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: $page-color;
  overflow: hidden;
}

body {
  overflow: auto;
}

.container {
  height: 100%;
}

a {
  text-decoration: none !important;
  color: inherit;
}

@media screen and (max-aspect-ratio: 1/1) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-aspect-ratio: 1/1) {
  .container {
    width: 100vh;
    margin-left: calc(50% - 50vh)
  }

  html {
    font-size: 2vh;
  }
}

h1 {
  font-weight: 100;
  font-size: 8vmin;
  margin: 0;
}

h3 {
  font-weight: 300;
  font-size: 4vmin;
  margin: 0;
}

#left {
  transform: translateX(-100vw);
  transition: transform 0.3s ease-in-out;
}

#right {
  transform: translateX(100vw);
  transition: transform 0.3s ease-in-out;
}

.load#left {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.load#right {
  transform: translateX(0);
  transition: transform 0.4s ease-in-out;
}

.unload#left {
  transform: translateX(-100vw);
  transition: transform 0.3s ease-in-out;
}

.unload#right {
  transform: translateX(100vw);
  transition: transform 0.4s ease-in-out;
}